[Desktop Entry]
Version=1.0
Type=Application
Name=SW Calculator
Comment=Doppler spectra fitting software
Icon=sw-calculator
Exec=sw-calculator
# Terminal=true
Categories=Education;Science
# Windows Manager groups windows with the same WM_CLASS
StartupWMClass=sw-calculator
